# Artifacts de build (scripts/build-git.sh)
.git-build/
git-*-linux-x86_64.tar.gz

# Artifacts de build PHP (scripts/release-php.sh)
.build-php/
php-*-linux-x86_64.tar.gz

# Artifacts de build Redis (scripts/build-redis.sh)
.redis-build/
redis-*-linux_x86_64-musl.tar.gz

# Artifacts de build SQLite (scripts/build-sqlite.sh)
.sqlite-build/
sqlite-*-linux_x86_64-musl.tar.gz

# Artifacts de build Spekter (scripts/build-spekter.sh)
.spekter-build/
spekter-*-linux_x86_64.tar.gz

# Runner self-hosté
actions-runner

__pycache__
